/* Styles for the Nepal Emergency Services page */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
    color: #2c3e50;
}

header {
    background-color: rgb(60, 193, 122);
    color: #000;
    text-align: center;
    padding: 0.01em;
    font-size: 1.5em;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}

.service {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin: 1em;
    padding: 1.5em;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease-in-out;
}

/* Making the service cards responsive */
@media (max-width: 600px) {
    .service {
        width: 100%;
    }
}

.service:hover {
    transform: scale(1.05);
}

.service img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #3498db;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

p {
    color: #555;
    font-size: 1em;
}
